<main>
 
    <!-- première section : le menu déroulant -->
    <form [formGroup]="absentForm">
    

        <h1>Ajouter un.e absent.e</h1>

        <!-- mon "formulaire" (ou mon menu déroulant) -->
        <select formControlName="student">
            
            <option disabled selected [ngValue]="null">Selectionner absent</option>
            <option *ngFor="let person of student" [ngValue]="person">
                {{person.name}}
            </option>
        </select>

        <br> <br> 

        <!-- bouton pour enregister le collègue que j'ai choisi -->
        <button type="submit" (click)="isAbsent()">Ajouter</button>
    </form>




    <!-- deuxième section: les résultats -->
    <div class="classroom">

        <!-- absents filles -->
        <div class="absents">
            <h2>Liste des absents</h2>

            <ul>
                <!-- il faut que je m'inspire de ça pour la selection aléatoire -->
                <li *ngFor="let person of absentStudent; let index=index"
                    [ngClass]="{'classement' : person.gender === 'female'}">
                    {{person.name}}
                    <button class="xbutton"  (click)="removeElement(index)"> x </button> <br> <br>
                </li>
            </ul>
        </div>



        <!-- absents garçons -->
        <div class="absentes">
            <h2>Liste des absentes</h2>

            <ul>
                <li *ngFor="let person of absentStudent; let index=index"
                    [ngClass]="{'classement' : person.gender === 'male'}">
                    {{person.name}}
                    <button class="xbutton" (click)="removeElement(index)"> x </button> <br> <br>
                </li>
            </ul>
        </div>

    </div>

</main>

